@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alternative with backdrop-filter for glassmorphism effect */
.bg-glass {
  background: linear-gradient(180deg, rgb(119 141 167 / 90%) 10%, rgb(44 55 70 / 95%) 100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.bg-blue-dark{
  background: #010F1D;
}

.bg-blue-base{
  background: #1B2733;
}
